<div class="container-fluid">
    <div class='page-header'>
        <h1 class="text-center" style="font-size: 3em;"><strong> {{name}} </strong></h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center description">
                {{desc}}
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <h1 style="font-size: 2em" class="text-center">Kluczowe cechy</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-9 col-md-offset-3">
            <div class="center-block">
                <ul class="keys">
                    {% for value in features %}
                        <li>{{value}}</li>
                    {% endfor %}
                </ul>
			</div>
		</div>
	</div>
    {% if specs is defined %}
    	<div class="row">
		    <h1 style="font-size: 2em" class="text-center">Dane techniczne</h1>
	    </div>
        {% for name, rows in specs.items() %}
        <div class="row">
            <div class="col-xs-12">
                <h2 style="font-size: 1.75em;"> {{name}} </h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        {% for key, value in rows.items() %}
                        <tr>
							<th style="width: 30%"><strong> {{key}} </strong></th>
							<td style="width: 70%"> {{value}} </td>
						</tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    {% if comp_with is defined %}
    <div class="row">
		<h1 style="font-size: 2em" class="text-center">Kompatybilne z</h1>
	</div>
    <div class='row'>
		<div class="col-xs-12 col-md-4 col-md-offset-4 list-group">
    {% for supp in comp_with %}
        <p class='list-group-item text-center'> {{supp}} </p>
    {% endfor %}
        </div>
    </div>
    {% endif %}
</div>