<div class='container-fluid'>
    <div class='page-header'>
        <h1 class="text-center" style="font-size: 3em;"><strong> {{name}} </strong></h1>
    </div>
    <div class="row">
        <div>
            <p class="text-center lead">
                {{short_desc}}
            </p>
        </div>
    </div>
    <br>
    {% for name, body in desc.items() %}
        {% if loop.index % 2 == 0 %}
            <div class="row">
                <div class="col-xs-12 col-md-6 text-primary text-center"><p style="font-size: 2.5em; padding: 1em 0;"> {{name}} </p></div>
                <div class="col-xs-12 col-md-6"><p style="font-size: 1.25em;"> {{body}} </p></div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12 col-md-6 text-primary text-center hidden-md hidden-lg"><p style="font-size: 2.5em; padding: 1em 0;"> {{name}} </p></div>
                <div class="col-xs-12 col-md-6"><p style="font-size: 1.25em;"> {{body}} </p></div>
                <div class="col-xs-12 col-md-6 hidden-xs hidden-sm text-primary text-center"><p style="font-size: 2.5em; padding: 1em 0;"> {{name}} </p></div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <h1 class="text-center" style="font-size: 2.5em;">Kluczowe cechy</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    {% for key, value in features.items() %}
                        <tr>
                            <td><h1 class="text-primary"> {{key}} </h1></td>
                            <td><p style="font-size: 1.15em;"> {{value}} </p></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="tech" class="row">
        <h1 class="text-center" style="font-size: 2.5em;">Dane Techniczne</h1>
    </div>
    {% for name, rows in specs.items() %}
        <div class="row">
            <div class="col-xs-12">
                <h2 style="font-size: 1.75em;"> {{name}} </h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        {% for key, value in rows.items() %}
                            <tr>
                                <td style="width: 30%"><strong> {{key}} </strong></td>
                                <td style="width: 70%">{{value}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
</div>